<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Home Lab Index</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="/css/Header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <header class="header">
    <div class="home-lab-index">
      <h1>
        <i class="fa fa-home"></i> Home Lab Index
      </h1>
    </div>
    <div class=" btn-container">
      <button onclick="window.location.href='/view/home'">Add Link</button>
      <button onclick="window.location.href='/view/indexes'">Indexes</button>
      <button onclick="window.location.href='/view/setting'">Settings</button>
    </div>
  </header>
  <div class="description">
    <h2> <i class="fa fa-plus-circle"></i> Add your URLs for Quick Access</h2>
  </div>

  <div style="text-align: center;margin-top: 4px;margin-bottom: 4px;">
    <a id="link" href="http://go/<%= defaults.value %>" class="button">Sample&#128279;: go/<%= defaults.value %></a>
  </div>
  <form id="urlForm" method="POST" action="/action/insert">

    <label for="dropdown"><i class="fa fa-list-dots"></i> Category</label>
    <select name="dropdown" id="dropdown">
      <% for(var i=0; i<defaults.dropdownValues.length; i++) { %>
        <option value="<%= defaults.dropdownValues[i] %>">
          <%= defaults.dropdownValues[i] %>
        </option>
        <% } %>
    </select>
    <input type="text" name="customValue" id="customValue" placeholder="Enter Custom Category" style="display: none;">
    <label for="key"> <i class="fa fa-key"></i> Key</label>
    <input type="text" name="key" id="key" value="<%= defaults.value %>" required>
    <label for="url"> <i class="fa fa-link"></i> URL</label>
    <input type="url" name="url" id="url" value="" required><br>
    <button type="submit">Submit</button>
  </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script>
  var dropdown = document.getElementById('dropdown');
  var customValue = document.getElementById('customValue');

  // Show the custom value input field when the "Custom" option is selected
  dropdown.addEventListener('change', function () {
    if (dropdown.value.includes('Custom')) {
      customValue.style.display = 'block';
      customValue.setAttribute('required', '');
    } else {
      customValue.style.display = 'none';
      customValue.removeAttribute('required');
    }
  });

  const keyInput = document.getElementById('key');
  const link = document.getElementById('link');

  keyInput.addEventListener('input', (event) => {
    const newValue = event.target.value;
    link.href = `http://go/${encodeURIComponent(newValue)}`;
    link.innerText = `Sample\u{1F517}: go/${newValue}`;
  });
</script>

</html>